consoleCalc {
    layout: vertical;
}

graph {
    dock: right;
    margin-top: 1;
    padding-left: 45;
}

.entryBox {

}

.inputBox {
    width: 100%;
    margin-bottom: 1;
}

.functionEntryBoxesContainer {
    width: 20%;
}